Bottleneck
certifi
click
Flask
importlib-metadata
itsdangerous
Jinja2
joblib
MarkupSafe
mkl-fft
mkl-random
mkl-service
numexpr
numpy
pandas
pip
python-dateutil
pytz
scikit-learn
scipy
setuptools
six
threadpoolctl
Werkzeug
wheel
zipp
gunicorn